@charset "UTF-8";

* {
	box-sizing: border-box;
}

body {
	font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic, sans-serif;
  font-size: 16px;
	margin: 0;
	padding: 0;
	color: #333;
	background-color: #f6efe7;
}

a {
	text-decoration: none;
}
a:hover img {
	opacity: 0.8;
}

/*--------------------------------
ヘッダー部分・ロゴ・サイトタイトル
---------------------------------*/
.header {
	width: 1070px;
	height: 100px;
	margin: 0 auto;
}
.slider{
	width: 90%;
	height: 600px;
	margin: 0 280px;
}


/*--------------------------------
メインナビゲーション
---------------------------------*/
.navigation {
	padding-top: 40px;
	width: 660px;
	margin:0 150px;
}
.navigation ul {
	float: right;
}
.navigation li {
	display: inline-block;
}
.navigation li a {
	margin-left: 62px;
	font-size: 24px;
	font-weight: bold;
	color: #333;
	letter-spacing: 2px;
}
.navigation li a:hover {
	color: #ff9393;
}

/*--------------------------------
テキストエリア
---------------------------------*/
.text_wrapper {
	width: 800px;
	margin: 90px auto 80px;
	text-align: center;
	position: relative;
}
.text_wrapper p {
	position: absolute;
	top:40%;
	left:12%;
	font-size: 22px;
	line-height: 2.2;
	color: #333;
}
.text_wrapper img {
	width: 400px;
	margin-top: 40px;
}

/*--------------------------------
商品エリア
---------------------------------*/
.title {
	margin: 0 auto 20px auto;
	text-align: center;
	font-size: 20px;
	letter-spacing: 10px;
	font-weight: bold;
}
.box_wrapper {
	width: 1070px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.image_wrapper{
	width: 240px;
	height: 248px;
}
.box_item {
	width: 240px;
	margin: 10px 10px 80px 10px;
	position: relative; /* saleアイコン設定・親要素相対ポジション */
}
.box_item h3 {
	font-size: 14px;
	margin: 0;
	padding: 0;
}
.box_item p {
	font-size: 14px;
	margin: 0;
	padding: 0;
}
.box_item a {
	color: #333;
}
.box_item a:hover {
	color: #ff9393;
}
.box_item img {
	width: 100%;
	height: 248px;
}








/*  */


/*--------------------------------
フッター
---------------------------------*/
.footer {
	width: 1070px;
	height: 200px;
	padding-bottom: 25px;
	margin: 0 auto;
	border-top: dotted 1px #333;
}
.footer_copyright {
	width: 300px;
	height: 200px;
	position: relative;
	float: left;
}
.footer_copyright p {
	position: absolute;
	bottom: 0;
	font-size: 14px;
}
.footer_copyright p span {
	font-size: 18px;
	font-weight: bold;
	color: #fe72aa;
}
.footer_navigation {
	width: 660px;
	height: 200px;
	position: relative;
	float: right;
}
.footer_navigation ul {
	position: absolute;
	bottom: 0;
	right: 0;
	float: right;
}
.footer_navigation li {
	display: inline-block;
}
.footer_navigation li a {
	margin-left: 32px;
	font-size: 14px;
	font-weight: bold;
	color: #333;
	letter-spacing: 2px;
}
.footer_navigation li a:hover {
	color: #fe72aa;
}


/*--------------------------------
商品詳細ページ設定
---------------------------------*/
.top_image {
	width: 100%;
	height: auto;
	margin: 0 auto 60px auto;
	text-align: center;
}
.top_image img {
	width: 100%;
	height: auto;
}
.content {
	width: 1070px;
	height: auto;
	margin: auto;
	margin-bottom: 60px;
	overflow: auto;
	color: #333;
}
.content img { /* 商品写真エリア */
	width: 600px;
	float: left;
	margin: 20px;
}
.content_text { /* テキストエリア */
	width: 420px;
	margin-bottom: 40px;
	overflow: auto;
	line-height: 2em;
}
.content_text h2 {
	color: #fe72aa;
	font-size: 22px;
	font-weight: normal;
}
.price {
	color: #fe72aa;
	font-size: 18px;
	font-weight: normal;
}

.item_select { /* フォーム・セレクト */
	width:260px;
	height: 60px;
	margin-bottom: 20px;
	padding:10px;
	float: right;
	font-size:16px;
	border:solid 1px #ccc;
	border-radius: 3px;
	cursor: pointer;
	outline:none;
}

/* フォーム・ボタン */
.cart_btn {
	width:260px;
	height: 60px;
	margin-top: 40px;
	float: right;
	font-size:16px;
	color: #fff;
	border: none;
	border-radius: 3px;
	background-color: #fe72aa;
	cursor: pointer;
	outline:none;
}
.cart_btn:hover {
	opacity: .8;
}



.point{
	width: 250px;
	height: 50px;
}
