/*footer*/
 @charset "UTF-8";

 body {
 	font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic, sans-serif;
   font-size: 16px;
 	margin: 0;
 	padding: 0;
 	color: #333;
 	background-color: #fff;
 }
 a {
 	text-decoration: none;
 }
 a:hover img {
 	opacity: 0.5;
 }

 /*--------------------------------
 フッター
 ---------------------------------*/
 .footer01 {
	color: #808080;
	background: #e5e5e5;
	padding: 30px;
   }
   .footer01 a {
	color: #808080;
	text-decoration: none;
   }
   .footer01 a:hover {
	text-decoration: underline;
   }
   .footer01 .menu {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
   }
   .footer01 .menu li {
	margin: 0;
	padding: 0 20px 0 0;
   }
   .footer01 .copyright {
	margin: 0;
	padding: 20px 0 0 0;
   }