body {
	margin: 0px;
	padding: 0px;
	font-family: "Arial";
	background-color: #fffafa;
}
main{
	text-align: center;

}

hr{
	width: 80%;
	height: 1px;
	background-color:#0000001b;
	border: 0px;
}
div{
    margin: 0 auto;
}


/* フォームのスタイル設定
----------------------------------------*/

/* フォームスタイルのリセット
ブラウザ別に設定されているデフォルトスタイルを無効 */
input, textarea, select {
	appearance: none;
	-webkit-appearance: none; /* chrome safari 用 */
  -moz-appearance: none; /* Firefox 用 */
}

/* テキストフォームの設定 */
input[type="email"], textarea {
	padding: 18px;
	color: #000000ba;
	border: solid 1.5px #9aeaea;
	margin: 3px 0;
	width: 480px;
	border-radius: 3px;
}

/* フォーカス時の色変更 */
input[type="email"], textarea {
	outline: none;
	transition: all .3s;
}
input[type="email"]:focus, textarea:focus {
	box-shadow: 0 0 6px #cf9fffb1 ;
	border: 1px solid #9aeaea;
}



input[type="email"], textarea {
	padding: 18px;
	color: #000000ba;
	border: solid 1.5px #9aeaea;
	margin: 3px 0;
	width: 480px;
	border-radius: 3px;
}

/* フォーカス時の色変更 */
input[type="email"], textarea {
	outline: none;
	transition: all .3s;
}
input[type="email"]:focus, textarea:focus {
	box-shadow: 0 0 6px #cf9fffb1 ;
	border: 1px solid #9aeaea;
}


/* submitボタン */
input[ id="login"] {
  background: linear-gradient(120deg, #9aeaea, #cf9fffb1);
  background: -moz-linear-gradient(120deg, #9aeaea, #cf9fffb1);
  background: -webkit-linear-gradient(120deg, #9aeaea, #cf9fffb1);
	border: none;
	color: #fff;
	font-weight: bold;
	width: 200px;
	height: 50px;
	margin: 40px auto;/*センターに表示*/
	text-align: center;
	border-radius : 2px;
	cursor: pointer;/*カーソルの変更*/
	outline:none;/*クリック時の枠線を消す*/
}
input[ id="login""]:hover {
	background: #ded9dc;
}
