@charset "utf-8";
/*==================================================
4-2-9　背景色が四角に拡大（四隅へ）
===================================*/
/*========= ローディング画面のためのCSS ===============*/
#splash {
	position: fixed;
	width: 100%;
	height: 100%;
	background: #FEC463;
	z-index: 9999999;
	text-align:center;
	color:#333;
}

#splash-logo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#splash-logo img,
#splash-logo canvas{
	width:60px;
}

/*画面遷移アニメーション*/

.splashbg{
	position: fixed;
	top: 0;
	right:0;
	bottom:0;
	left: 0;
	border-width: 0px;/*開始はボーダーの太さは0*/
	border-style:solid;
    border-color: #FEC463;/*拡大する四角の色*/
	animation-duration:.5s;
	animation-fill-mode:forwards;
}

@keyframes backBoxAnime{
	99.9% {/*アニメーション終了ぎりぎりまで*/
        z-index: 2;/*最前面に*/
		border-width: 0px;/*開始はボーダーの太さは0*/
	}
    100%{
       z-index: -1; /*最背面に*/
        border-width: 0px;/*終了はボーダーの太さは0*/
    }
}

/*画面遷移の後現れるコンテンツ設定*/
#container{
    position: relative;
	opacity: 0;/*はじめは透過0に*/
}

/*bodyにappearクラスがついたら出現*/
body.appear #container{
	animation-name:PageAnimeAppear;
	animation-duration:1s;
	animation-delay:0.2s;
	animation-fill-mode:forwards;
	opacity: 0;
}

@keyframes PageAnimeAppear{
	0% {
	opacity: 0;
	}
	100% {
	opacity: 1;
}
}



/* --------------------------------------------------------------------------------
5-1-3 ドロップダウンメニュー（写真付 上ナビ）
-------------------------------------------------------------------------------- */


/*========= ドロップダウンのためのCSS ===============*/

/*==ナビゲーション全体の設定*/
nav{
	text-align: center;
    position: relative;
    z-index: 2;
}

/*ナビゲーションを横並びに*/
nav ul{
    /*2階層目の基点にするためrelativeを指定*/
	position: relative;
	list-style: none;
	display: flex;
	justify-content: center;
}

/*2階層目以降は横並びにしない*/
nav ul ul{
	display: block;
}

/*ナビゲーションのリンク設定*/
nav ul li a{
    /*矢印の基点にするためrelativeを指定*/
	position: relative;
	display: block;
	text-decoration: none;
	color: #333;
	padding:20px 20px;
	transition:all .3s;
}

nav ul li a:hover{
 color:#666;   
}


/*==矢印の設定*/

/*2階層目を持つliの矢印の設定*/

nav ul li.has-child > a::before{
    content: '';
    position: absolute;
    left: 27px;
    top: 13px;
    width: 6px;
    height: 6px;
    border-top: 2px solid #333;
    border-right: 2px solid #333;
    transform: rotate(135deg);
}

/*==2階層目以降の画像設定*/

nav ul li.has-child img{
	max-width: 100%;
	height: auto;
	transition: all .5s;
	vertical-align: bottom;
}


nav ul li.has-child dt{
	margin:0 0 10px 0;
}

/*== 2層目の設定 */

nav li.has-child ul{
  /*絶対配置で位置を指定*/
    position: absolute;
    left:0;
	top:30px;
	z-index: 4;
  /*子要素を横並びに*/    
	display: none;
	justify-content: space-around;
	flex-wrap: wrap;
    /*形状を指定*/
	background:#F2F0E9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	width:100%;
    /*はじめは非表示*/
	visibility: hidden;
	opacity: 0;
     /*アニメーション設定*/
	transition: all .3s;
}

/*hoverしたら表示*/
nav li.has-child:hover > ul{
    visibility: visible;
    opacity: 1;
    padding: 20px 0;
    display: flex;
}

/*各ナビゲーション横幅*/
nav li.has-child ul li{
	width:13%;
}

/*ナビゲーションaタグの形状*/
nav li.has-child ul li a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}



/*==920px以下の形状*/
@media screen and (max-width:920px){
	
    nav li.has-child ul li a{
    min-height: 55px;
    border-bottom: 1px solid #C3B68F;
    display: flex!important;
    padding:15px 10px!important;
    border-radius: 0!important;
}
    
    nav li.has-child ul li a:hover{
        background:none!important;
        box-shadow:none!important;
    }
    
    .g-nav-list-inner{
        display: block!important;
    }
    
	nav li.has-child ul{
  	position: relative;
	left:0;
	top:0;
	width:100%;
	visibility:visible;/*JSで制御するため一旦表示*/
	opacity:1;/*JSで制御するため一旦表示*/
	display: none;/*JSのslidetoggleで表示させるため非表示に*/
	transition:none;/*JSで制御するためCSSのアニメーションを切る*/
}
    
nav li.has-child:hover > ul{
    padding: 0;
    display: none;
}
    
	nav li.has-child ul li{
		width:100%;
		text-align: left;
	}
	
	nav li.has-child ul li dl{
		display: flex;
		justify-content: space-between;
		align-items: center;
        width: 100%;
        max-width: 300px;
    text-align: left;
	}
	nav li.has-child ul li dt{
		width:30%;
		height: auto;
		margin: 0;
	}

	nav li.has-child ul li dd{
		width:64%;			
	}

    
    nav ul li a{
	    padding: 10px 20px;
}
    
    nav ul li li a{
		padding: 0;
}
	
/*矢印の位置と向き*/
	
nav ul li.has-child > a::before{
    top:23px;
    left: 23%;
    transform: rotate(135deg);
}
    
nav ul li.has-child.active > a::before{
    transform: rotate(-45deg);
}
    
    
/*==================================================
5-1-17　クリックしたら円形背景が拡大（下から）
===================================*/

/*アクティブになったエリア*/
#g-nav.panelactive{
    /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
    position:fixed;
    z-index: 999;
	top: 0;
	width:100%;
    height: 100vh;
}

/*丸の拡大*/
.circle-bg{
    position: fixed;
	z-index:3;
    /*丸の形*/
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #C3B68F;
    /*丸のスタート位置と形状*/
	transform: scale(0);/*scaleをはじめは0に*/
	bottom:-50px;
    left:calc(50% - 50px);/*50%から円の半径を引いた値*/
    transition: all .6s;/*0.6秒かけてアニメーション*/
}

.circle-bg.circleactive{
	transform: scale(50);/*クラスが付与されたらscaleを拡大*/
}

/*ナビゲーションの縦スクロール*/
#g-nav-list{
    display: none;/*はじめは表示なし*/
    /*ナビの数が増えた場合縦スクロール*/
    position: fixed;
    z-index: 999; 
    width: 100%;
    height: 100vh;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

#g-nav.panelactive #g-nav-list{
     display: block; /*クラスが付与されたら出現*/
}

/*ナビゲーション*/
#g-nav ul {
	opacity: 0;/*はじめは透過0*/
}
    
/*背景が出現後にナビゲーションを表示*/
#g-nav.panelactive ul {
    opacity:1;
}

/* 背景が出現後にナビゲーション li を表示※レイアウトによって調整してください。不必要なら削除*/
#g-nav.panelactive ul li{
animation-name:gnaviAnime;
animation-duration:1s;
animation-delay:.2s;/*0.2 秒遅らせて出現*/
animation-fill-mode:forwards;
opacity:0;
}


/*リストのレイアウト設定*/
#g-nav li{
	text-align: center; 
}

#g-nav li a{
	color: #333;
	padding: 20px 10px;
}
    
#g-nav ul li a{
	padding:15px;
}

/*==================================================
　5-2-9 3本線がジャンプして×に
===================================*/
/*ボタン外側*/
.openbtn{
	position:fixed;
    top:10px;
	right: 10px;    
    z-index: 9999;/*ボタンを最前面に*/
	background:#333;
	cursor: pointer;
    width: 50px;
    height:50px;
	border-radius:2px;
	overflow: hidden;/*ジャンプしてはみ出た要素を消す*/
}
	
/*ボタン内側*/

.openbtn .openbtn-area{
    transition: all .4s;/*アニメーションの設定*/
}

.openbtn span{
    display: inline-block;
    transition: all .4s;/*アニメーションの設定*/
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
	background: #fff;
  	width: 45%;
  }


.openbtn span:nth-of-type(1) {
	top:15px;	
}

.openbtn span:nth-of-type(2) {
	top:23px;
}

.openbtn span:nth-of-type(3) {
	top:31px;
}


/*activeクラスが付与されると .openbtn-areaが360度回転し、
その中の線のtopの位置や形状が変化して×に*/

.openbtn.active .openbtn-area{
	transform: rotateX(360deg);
}

.openbtn.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-135deg);
    width: 30%;
}

.openbtn.active span:nth-of-type(2) {
	opacity: 0;
}

.openbtn.active span:nth-of-type(3){
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(135deg);
    width: 30%;
}
    
}

@keyframes gnaviAnime{
0% {
opacity: 0;
}
100% {
opacity: 1;
}
}

/*==================================================
　5-3-1 中心から外に線が伸びる（下部）
===================================*/

.footer-link li a{
    /*線の基点とするためrelativeを指定*/
	position: relative;
	padding:10px 15px;
    display: inline-block;
}

.footer-link li a::after {
    content: '';
    /*絶対配置で線の位置を決める*/
    position: absolute;
    bottom: 0;
    left: 10%;
    /*線の形状*/
    width: 80%;
    height: 2px;
    background:#333;
    /*アニメーションの指定*/
    transition: all .3s;
    transform: scale(0, 1);/*X方向0、Y方向1*/
    transform-origin: center top;/*上部中央基点*/
}

/*現在地とhoverの設定*/
.footer-link li a:hover::after {
    transform: scale(1, 1);/*X方向にスケール拡大*/
}

@media screen and (max-width:768px){
.footer-link li a::after {
    display:none;
}
    
}


/* --------------------------------------------------------------------------------
5-4-1 タブメニュー
-------------------------------------------------------------------------------- */
/*tabの形状*/
.tab{
	display: flex;
	flex-wrap: wrap;
}
.tab li a{
	display: block;
	padding:20px;
    border-top: 3px solid transparent;
    border-right: 3px solid transparent;
    border-left: 3px solid transparent;
    border-bottom: 3px solid #333;
}
/*liにactiveクラスがついた時の形状*/
.tab li.active a{
    border-color:#333;
    border-bottom: 3px solid transparent;
}


/*エリアの表示非表示と形状*/
.area {
	display: none;/*はじめは非表示*/
	opacity: 0;/*透過0*/
	padding:80px 0 40px 0;
}

/*areaにis-activeというクラスがついた時の形状*/
.area.is-active {
    display: block;/*表示*/
    animation-name: displayAnime;/*ふわっと表示させるためのアニメーション*/
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes displayAnime{
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/*===========================================================*/
/* 7-1-15　下に押し込まれる（立体が平面に）*/
/*===========================================================*/

/* ボタン共通設定 */
.btn{
    /*影の基点とするためrelativeを指定*/
    position: relative;
    /*ボタンの形状*/
	text-decoration: none;
	display: inline-block;
    text-align: center;
    background: #FEC463;
	border-radius: 25px;
	border: solid 1px #333;
    outline: none;
    /*アニメーションの指定*/
    transition: all 0.2s ease;
    font-weight:bold;
}

/*hoverをした後のボタンの形状*/
.btn:hover{
	border-color:transparent;	
}

/*ボタンの中のテキスト*/
.btn span {
	position: relative;
	z-index: 2;/*z-indexの数値をあげて文字を背景よりも手前に表示*/
    /*テキストの形状*/
	display: block;
    padding: 10px 30px 10px 40px;
	background:#FEC463;
	border-radius: 25px;
	color:#333;
    /*アニメーションの指定*/
    transition: all 0.3s ease;
}

/*== 下に押し込まれる（立体が平面に） */

/*影の設定*/
.btn:before {
    content:"";
    /*絶対配置で影の位置を決める*/
    position: absolute;
	z-index: -1;
    top:4px;
    left:0;
    /*影の形状*/
    width: 100%;
    height: 100%;
	border-radius: 25px;
    background-color: #333;
}

/*hoverの際にY軸に4pxずらす*/
.btn:hover span {
	background-color: #FEC463;
	transform: translateY(4px);
}

/*==================================================
8-1-8　リンクボタンをクリックしたら形状が変化
===================================*/

/*リンクを右下に固定*/
#page-top {
	position: fixed;
	right: 10px;
	bottom:20px;
	z-index: 2;
    /*はじめは非表示*/
	opacity: 0;
	transform: translateY(150px);
}

@media only screen and (max-width: 920px){
#page-top {
	right:inherit;
    left:10px;
	bottom:20px;
    }
}

/*　上に上がる動き　*/
#page-top.UpMove{
	animation: UpAnime 0.5s forwards;
}

@keyframes UpAnime{
  from {
    opacity: 0;
	transform: translateY(150px);
  }
  to {
    opacity: 1;
	transform: translateY(0);
  }
}

/*　下に下がる動き　*/
#page-top.DownMove{
	animation: DownAnime 0.5s forwards;
}

@keyframes DownAnime{
  from {
  	opacity: 1;
	transform: translateY(0);
  }
  to {
  	opacity: 1;
	transform: translateY(150px);
  }
}

/*画像の切り替えと動き*/
#page-top a {
    /*aタグの形状*/
	display: block;
	width: 80px;
	height: 80px;
	color: #333;
	text-align: center;
	text-transform: uppercase; 
	text-decoration: none;
	font-size:0.6rem;
    /*背景画像の指定*/
	background: url("../img/rocket_base.png") no-repeat center;
	background-size: contain;
}

#page-top.floatAnime a{
	width: 80px;
	height: 80px;
    /*背景画像の指定*/
	background: url("../img/rocket.png") no-repeat center;
	background-size: contain;
    /*アニメーションの指定*/
	animation: floatAnime 2s linear infinite;
	opacity: 0;
}

@keyframes floatAnime {
  0% { transform: translateX(0); opacity: 0; }
  25% { transform: translateX(-6px);opacity: 1; }
  50% { transform: translateX(0) }
  100% { transform: translateX(6px);opacity: 1; }
}

/*Page Topと書かれたテキストの位置*/
#page-top span{
    position: absolute;
    bottom: -6px;
    right: 26px;
	color: #333;
    font-weight: bold;
    line-height: 1.3;
}

#page-top.floatAnime span{
    bottom: -30px;
}



/*===========================================================*/
/* 9-6-3 リンクをクリックすると、背景が暗くなり動画や画像やテキストを表示*/
/*===========================================================*/

/*========= モーダル表示のためのCSS ===============*/

/*全て共通：hideエリアをはじめは非表示*/
.hide-area{
	display: none;
}

/*全て共通：モーダルのボタンの色を変更したい場合*/
.modaal-close:after, 
.modaal-close:before{
	background:#ccc;	
}

.modaal-close:focus:after,
.modaal-close:focus:before,
.modaal-close:hover:after,
.modaal-close:hover:before{
	background:#666;
}


/* # =================================================================
   # ANIMATION
   # ================================================================= */

/* fadeIn */
.fadeIn{
animation-name: fadeInAnime;
animation-duration:1.5s;
animation-fill-mode:forwards;
opacity:0;
}

@keyframes fadeInAnime{
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
/* fadeUp */

.fadeUp{
animation-name: fadeUpAnime;
animation-duration:0.5s;
animation-fill-mode:forwards;
opacity:0;
}

@keyframes fadeUpAnime{
  from {
    opacity: 0;
	transform: translateY(50px);
  }

  to {
    opacity: 1;
	transform: translateY(0);
  }
}

/* fadeDown */

.fadeDown{
animation-name: fadeDownAnime;
animation-duration:0.5s;
animation-fill-mode:forwards;
opacity:0;
}

@keyframes fadeDownAnime{
  from {
    opacity: 0;
	transform: translateY(-50px);
  }

  to {
    opacity: 1;
	transform: translateY(0);
  }
}

.blur {
    animation-name: blurAnime;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes blurAnime{
  from {
	filter: blur(10px);
	transform: scale(1.02);
 	opacity: 0;
  }

  to {
	filter: blur(0);
	transform: scale(1);
	 opacity: 1;
  }
}

/*==================================================
ぱたっ
===================================*/

/* flipLeftTop */
.flipLeftTop{
animation-name: flipLeftTopAnime;
animation-duration:1s;
animation-fill-mode:forwards;
opacity:0;
}

@keyframes flipLeftTopAnime{
  from {
   transform: translate(-20px,80px) rotate(-15deg);
 	opacity: 0;
  }

  to {
   transform: translate(0,0) rotate(0deg);
	opacity: 1;
  }
}

/*==================================================
ぶわっ、ぽんっ、どどんっ
===================================*/

/* zoomIn */
.zoomIn{
	animation-name: zoomInAnime;
	animation-duration:0.5s;
	animation-fill-mode:forwards;
}

@keyframes zoomInAnime{
  from {
	transform: scale(0.6);
	opacity: 0;
  }

  to {
    transform: scale(1);
	opacity: 1;
  }
}

/* スクロールをしたら出現する要素にはじめに透過0を指定　*/
.zoomInTrigger,
.flipLeftTopTrigger,
.fadeInTrigger,
.fadeUpTrigger,
.fadeDownTrigger,
.blurTrigger{
    opacity: 0;
}


.slide-in {
	overflow: hidden;
    transform: translate(-100%, 0%) matrix(1, 0, 0, 1, 0, 0);
    display: inline-block;
}

.slide-in_inner {
	display: inline-block;
	transform: translate(100%, 0%) matrix(1, 0, 0, 1, 0, 0);
		
}

.slideAnimeLeftRight {
	animation-name: slideText-100;
	animation-duration:0.8s;
	animation-fill-mode:forwards;

}

@keyframes slideText-100 {
  from {
	transform: translateX(-100%);
  }

  to {
	transform: translateX(0);
  }
}

.slideAnimeRightLeft {
	animation-name: slideText100;
	animation-duration:0.8s;
	animation-fill-mode:forwards;
}

@keyframes slideText100 {
  from {
	transform: translateX(100%);
  }

  to {
	transform: translateX(0);
  }
}

/* # =================================================================
   # TEXT
   # ================================================================= */



.rollAnime.roll span {
    transition-property: opacity,transform;
    transform: rotateY(360deg);
    transition: all .8s cubic-bezier(.77,0,.175,1);
    transition-timing-function: cubic-bezier(.77,0,.175,1);
    display: inline-block;
}