@charset "UTF-8";

* {
    box-sizing: border-box;
}

body {
    font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体",
        YuGothic, sans-serif;
    font-size: 16px;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #a8a9ab;
}

a {
    text-decoration: none;
}
a:hover img {
    opacity: 0.8;
}

/*--------------------------------
ヘッダー部分・ロゴ・サイトタイトル
---------------------------------*/
.container {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.top-title {
    font-size: 20px;
    font-family: "arial black";

    width: calc((420 / 1440) * 100%);
    height: calc((478 / 790) * 100%);
    background-color: #a8a9ab;
    color: #fff;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
}

.top-title img {
    width: 23%;
    height: 23%;
}
.slider {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    object-fit: cover;
    width: calc((1260 / 1440) * 100%);
    height: 100vh;
}

/*--------------------------------
コンセプト
---------------------------------*/

.concept-container {
    display: flex;
    height: 100vh;
    overflow: hidden;
    justify-content: space-between;
}

.concept-container * {
    box-sizing: border-box;
}

.concept-title {
    font-size: 20px;
    color: #fff;
}

.concept-title img {
    width: 23%;
    height: 23%;
    left: 20;
}

.concept-img {
    z-index: 10;
    width: 58%;
    height: 55%;
    object-fit: cover;
    max-width: unset;
    /* transform: translate(-50%, -50%); */
}

.concept-box {
    width: calc((420 / 1440) * 100%);
    height: calc((478 / 990) * 100%);
    border: solid 3px #a2bed7;
    z-index: 10;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
